@import "tailwindcss";

@theme {
  --color-primary: #10b981;   /* основной зелёный */
  --color-primary-dark: #059669;
  --color-bg: #f8fafc;
  --color-surface: #ffffff;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}