# PROJECT
PROJECT_NAME=...

# DATABASE
DB_HOST=...
DB_PORT=...
DB_NAME=...
DB_USER=...
DB_PASS=..
PG_ECHO=...

# DOCKER
POSTGRES_DB=...
POSTGRES_USER=...
POSTGRES_PASSWORD=...

# SENTRY
SENTRY_KEY=...